.header-color {
  background-color: #f72210;
}

header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-cat {
  background-color: white;
}

.email_footer_radiant {
  height: 250px;
  width: 300px;
  background-image: radial-gradient(circle at top right, yellow, #f06d06);
}

.subscribe {
  background-color: ##ffe400;
}
