body {
  font-family: 'Roboto', sans-serif;
}

.header-color {
  background-color: #f72210;
}

header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-cat {
  background-color: white;
}

.subscribe {
  background-color: #ffe400;
}

@media screen and (max-width: 768px) {
  .big_screen {
    display: none;
  }

  .small_screen {
    height: 75px;
    background-color: #f72210;
  }

  .icons_small {
    margin-right: 5px;
  }
}

@media screen and (min-width: 769px) {
  .small_screen {
    display: none;
  }
}

.footer_colors {
  color: #f72210;
}
